/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.9;
    text-align: left;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
}


.container{
  width: 75%;
  margin: 0 auto;
}

header{
  padding-top: 80px;
}

.header-menu{
  display: flex;
}

.header-left h1{
  font-size: 50px;
  letter-spacing: 30px;
}

.header-right{
  margin-left: auto;
  padding: 25px 30px 0 0;
}

.header-right .fab{
  padding: 0 10px;
  opacity: 0.7;
}

.header-right .fab:hover{
  opacity: 1;
}

.nav-list{
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

.nav-list li{
  font-size: 16px;
  padding: 0 25px;
  letter-spacing: 3px;
}

.nav-list li:hover{
  text-decoration: underline;
}

.mainimg{
  width: 100%;
  padding-top: 25px;
}

.contents{
  display: flex;
  justify-content: center;
}

.about-text{
  font-size: 18px;
  padding-left: 80px;
}

.about-text .fab{
  padding-right: 10px;
}

.maintext{
  font-size: 16px;
  padding-top: 25px;
}

.main-logo{
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 100;
  padding: 80px 0 60px 0;
}

.about-text a{
  opacity: 0.8;
}

.about-text a:hover{
  opacity: 1;
  color: blue;
  text-decoration: underline;
}

.skill-content{
  text-align: center;
  width: 50%;
}

.skill-content h1{
  font-size: 20px;
}

.skill-content i{
  padding: 30px 0 40px 0;
}

.skill-text{
  text-align: left;
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}

.sub{
  opacity: 0.6;
}

.work-wrapper p{
  text-align: center;
  font-size: 20px;
}

.work-contents{
  text-align: center;
}

.work-contents img{
  width: 45%;
  margin: 2% 2%;
  border: solid 1px #e0e0e0;
}

.work-contents img:hover{
  opacity: 0.5;
  transition: 0.3s;
}

.contact-wrapper p{
  text-align: center;
  font-size: 20px;
}

.contact-menu{
  text-align: center;
  padding-top: 50px;
}

.contact-menu .fab{
  padding: 0 4%;
  opacity: 0.7;
  font-size: 5em;
}

.contact-menu .fab:hover{
  opacity: 1;
}

footer .nav-list{
  justify-content: flex-start;
  padding: 150px 0 80px 20px;
}